.notify {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #28a745;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  transition: transform 0.5s ease-in-out, opacity 0.3s ease-in-out;
}

.notify.show {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}

.notify a {
  color: #fff;
  text-decoration: underline;
  cursor: pointer;
}

/* Add animation for movement */
@keyframes moveNotification {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.notify.move-enter {
  animation: moveNotification 0.5s ease-in-out;
}
