.coordinate{
  display: flex;
  margin-top: 25px;
}

.image{
  display: flex;
  width: 100px;
  height: 80px;
}

.image1{
 margin-left: 27.6%;
 margin-bottom: 5px;
}

.image2{
  margin-left: 22%;
}

.anand,.uday{
  margin-top: 15px;
  margin-left: 20px;
}

.name{
  margin-left: 210px;
  display: flex;
  justify-content: space-between;
  margin-top: 4px;

}
.name1{
  margin-left: 150px;
  display: flex;
  justify-content: space-between;
  margin-top: 4px;

}
.name2{
  margin-left: 230px;
  display: flex;
  justify-content: space-between;
  margin-top: 4px;

}
.name3{
  margin-left: 230px;
  display: flex;
  justify-content: space-between;
  margin-top: 4px;

}

.name4{
  margin-left: 190px;
  display: flex;
  justify-content: space-between;
  margin-top: 4px;

}
.name5{
  margin-left: 130px;
  display: flex;
  justify-content: space-between;
  margin-top: 4px;

}
.space-between {
  margin-left: 50px; /* Adjust the value as needed */
}

.lead{
  margin-left: 22%;
}

.module{
  font-size: 30px;
}

.container1{
  background-color: rgb(190, 185, 185);
  width: 300px; /* Adjust the width as needed */
  height: 340px; /* Adjust the height as needed */
  padding: 10px;
  border-radius: 8px;
  float: left;
}

.container2{
  background-color: rgb(234, 221, 221);
  width: 90%; /* Adjust the width as needed */
  height: 80%; /* Adjust the height as needed */
  padding: 10px;
  border-radius: 8px;
  float: left;
  margin-left: 50px;
}

.num{
  margin-left: 9%;
  margin-top: 15px;
  font-size: 20px;
}

.img1{
  margin-left: 620%;
  margin-top: 15px;
  width: 100px;
  height: 80px;
}
.img2{
  margin-left: 79%;
  margin-top: 15px;
  width: 100px;
  height: 80px;
}

.coordinate1{
  display: flex;
  margin-top: 0px;
}
 

.creators{
  margin-left: 80%;
  margin-top: 15px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  box-shadow: 5px 6px 15px rgba(0, 0, 0, 0.3);
  
}