.coordinate{
  display: flex;
  margin-top: 25px;
}

.image{
  display: flex;
  width: 100px;
  height: 80px;
}

.image1{
 margin-left: 27.6%;
 margin-bottom: 5px;
}

.image2{
  margin-left: 22%;
}

.anand,.uday{
  margin-top: 15px;
  margin-left: 20px;
}

.lead{
  margin-left: 22%;
}

.module{
  font-size: 20px
}

.container1{
  background-color: rgb(190, 185, 185);
  width: 300px; /* Adjust the width as needed */
  height: 340px; /* Adjust the height as needed */
  padding: 10px;
  border-radius: 8px;
  float: left;
}

 





.num{
  margin-left: 9%;
  margin-top: 15px;
  font-size: 20px;
}

.img1{
  margin-left: 600%;
  margin-top: 15px;
  width: 100px;
  height: 80px;
}
.img2{
  padding-left: 20%;
  margin-top: 15px;
  width: 100px;
  height: 80px;
}

.coordinate1{
  display: flex;
  margin-top: 0px;
}
 

